<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0d6efd" />
    
    <title>Manga Spy | Histórico</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body class="bg-dark d-flex">
  
    <nav th:replace="fragments/offcanvas :: offcanvas"></nav>

    <main class="container d-flex flex-row flex-grow-1" id="history-main">

        <h1 class="m-auto text-center w-100 text-secondary user-select-none" id="empty-history" th:unless="${mangaHistory.size() > 0}">Você não tem nenhum histórico registrado.</h1>

        <div id="manga-history" class="me-4 py-5 flex-grow-1" th:if="${mangaHistory.size() > 0}">
            <h3 class="text-center text-light mb-5">Histórico</h3>
    
            <div class="d-flex flex-row justify-content-center flex-wrap">
                <div th:each="history : ${mangaHistory}">
                    <div th:replace="fragments/manga :: manga(${history})"></div>
                </div>  
            </div>

            <a href="/history/mangas/viewmore" th:if="${isMangaViewMore}" class="btn btn-lg btn-primary d-flex align-items-center justify-content-center my-3 mx-auto viewmore-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg me-2" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg>    
                Ver mais
            </a> 
        </div>

        <div id="chapter-history" class="py-5" th:if="${chapterHistory.size() > 0}">
            <h5 class="text-center text-light mb-5">Últimos capítulos lidos:</h5>
            <div class="d-flex flex-column justify-content-center align-items-center m-2 mb-3">
                <div th:each="history : ${chapterHistory}">
                    <div th:replace="fragments/chapter :: chapter(${history})"></div>
                </div>
            </div>

            <a href="/history/chapters/viewmore" th:if="${isChapterViewMore}" class="btn btn-lg btn-primary d-flex align-items-center justify-content-center m-auto viewmore-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg me-2" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg>    
                Ver mais
            </a> 
        </div>
        


    </main>

    <div class="modal" tabindex="-1" id="remove-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Manga Spy</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Deseja remover esse manga de seu histórico?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="cancelRemove()">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="confirmRemove()">Confirmar</button>
                </div>
            </div>
        </div>
    </div>


    <script th:src="@{/js/history.js}"></script>
</body>
</html>