.offcanvas-icon {
    width: 32px;
    height: auto;
}

/* Largura do offcanvas */
.offcanvas-start {
    width: 320px
}

#offcanvas-body{
    position: relative;
    top: 17px;
}

#sidebar-spacer, #sidebar{
    width: 67px;
}

.btn.highlight, a.highlight{
    background-color: #0d63e4;
}

#home-icon {
    width:100px;
    height:auto;
}

.pointer{
    cursor: pointer;
    transition: .2s;
}

.pointer:hover{
    color: var(--bs-light) !important;
}

.badge.bg-primary:hover{
    background-color: #0b5ed7 !important;
}

#manga-cover{
    width: 220px !important;
}

#manga-source{
    width: 232px !important;
}

#chapters > div:nth-child(even) {
    background-color: var(--bs-gray-dark);
}

#chapters > div:hover {
    background-color: var(--bs-primary);
}

#chapters span {
    font-size: 14px !important;
}

.toast {
    opacity: .9;
}

@media (max-width:530px) {
    
    body.vh-100 {
        height: auto !important
    }

    form.shadow {
        box-shadow: none !important
    }

    #sidebar-spacer, #sidebar{
        height: 100% !important;
        width: 55px !important;
    }

    #search-section {
        margin-top: 65px;
    }

    svg{
        width: 20px;
        height: 20px;
    }

    #home-icon {
        width: 75px;
    }

    #home-icon-text{
        font-size: 26px;
    }

    #home-tutorial{
        font-size: 14px;
    }

}

@media (max-width:380px) {
    
    .toast {
        width:85%;
        margin: 5%;
    }

}