.offcanvas-icon {
    width: 32px;
    height: auto;
}

/* Largura do offcanvas */
.offcanvas-start {
    width: 320px
}

#offcanvas-body{
    position: relative;
    top: 17px;
}

#sidebar-spacer, #sidebar{
    width: 67px;
}

.btn.highlight, a.highlight{
    background-color: #0d63e4;
}

#home-icon {
    width:100px;
    height:auto;
}

.pointer{
    cursor: pointer;
    transition: .2s;
}

.pointer:hover{
    color: var(--bs-light) !important;
}

.badge.bg-primary:hover{
    background-color: #0b5ed7 !important;
}

#manga-cover{
    width: 220px !important;
}

#manga-source{
    width: 232px !important;
}

#chapters > div:nth-child(even) {
    background-color: var(--bs-gray-dark);
}

#chapters > div:hover {
    background-color: var(--bs-primary);
}

#chapters span {
    font-size: 14px !important;
}

.toast {
    opacity: .9;
}

#search svg {
    margin-bottom: 2px !important;
}

@media (max-width:620px) {
    
    #manga-tags-body{
        flex-direction: column;    
    }

    .manga-col{
        width:90% !important;
        margin: auto !important;
        margin-bottom: 10px !important;
        text-align: center;
    }

    .manga-tag-row{
        text-align: left;
        padding: 0px 15px !important;
    }

    #chapters{
        margin-top: 15px !important;
    }

}

@media (max-width:530px) {
    
    body.vh-100 {
        height: auto !important
    }

    form.shadow {
        box-shadow: none !important
    }

    #sidebar-spacer, #sidebar{
        height: 100% !important;
        width: 55px !important;
    }

    #search-section {
        margin-top: 65px;
    }

    svg{
        width: 20px;
        height: 20px;
    }

    #home-icon {
        width: 75px;
    }

    #home-icon-text{
        font-size: 26px;
    }

    #home-tutorial{
        font-size: 14px;
    }

    #search-input {
        height: 36px;
        font-size: 15px;
    }

    #search {
        height: 36px;
    }

    #search svg {
        width:15px;
        margin-bottom: 6px;
    }

}

@media (max-width:380px) {
    
    .toast {
        width:85%;
        margin: 5%;
    }

}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track {
    background: var(--bs-gray-700);
}
::-webkit-scrollbar-thumb {
    background: var(--bs-gray-600); 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--bs-gray-500); 
}
::-webkit-scrollbar-thumb:active {
    background: var(--bs-gray-400); 
}
::-webkit-scrollbar-corner{
    display: none;
}