::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track {
    background: var(--bs-gray-700);
}
::-webkit-scrollbar-thumb {
    background: var(--bs-gray-600); 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--bs-gray-500); 
}
::-webkit-scrollbar-thumb:active {
    background: var(--bs-gray-400); 
}
::-webkit-scrollbar-corner{
    display: none;
}

.tool-btn{
    height: 40px;
    width: 40px;
    padding: 0px !important;
    transition: .15s !important;
    margin: 6px !important;
}

.tool-btn:hover{
    height: 50px;
    width: 50px;
    margin: 2px !important;
    filter: brightness(90%);
}

.tool-btn svg{
    height: 24px;
    width: 24px;
    margin: -1px;
    position: relative;
    top: -2px
}

.scroll{
    width: 1200px;
    max-width: 100%;
    margin: auto !important;
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.webtoon{
    width: 600px;
    max-width: 100%;
    margin: auto !important;
}