::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track {
    background: var(--bs-gray-700);
}
::-webkit-scrollbar-thumb {
    background: var(--bs-gray-600); 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--bs-gray-500); 
}
::-webkit-scrollbar-thumb:active {
    background: var(--bs-gray-400); 
}
::-webkit-scrollbar-corner{
    display: none;
}

#loading{
    z-index: 99;
}

#cover{
    object-fit: cover;
    z-index: 1;
    filter:brightness(30%)
}

#metadata{
    z-index: 2;
}

#metadata{
    transition: .3s !important;
    opacity: 0.5;
}

#metadata:hover{
    opacity: 1 !important;
}

#container-metadata{
    max-width: 450px;
    height: 120px;
    display: flex;
    margin: auto;
}

.tool-btn{
    height: 40px;
    width: 40px;
    padding: 0px !important;
    transition: .15s !important;
    margin: 6px !important;
}

.tool-btn:hover{
    height: 50px;
    width: 50px;
    margin: 2px !important;
    filter: brightness(90%);
}

.img-placeholder{
    background-image: url('/assets/load.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    min-height: 440px;
}

.tool-btn svg{
    height: 24px;
    width: 24px;
    margin: -1px;
    position: relative;
    top: -2px
}

.scroll{
    max-width: 100%;
    margin: auto !important;
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.webtoon{
    width: 600px;
    max-width: 100%;
    margin: auto !important;
}

.single {
    display: none;
    max-width: 100%;
    max-height: calc(100vh - 100px);
}

.single.active{
    display: block;
}

.container-metadata-single-mode{
    display: none !important;
}